<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="build-target-platform">
<locations>
<location path="${system_property:target.platform.dir}" type="Directory"/>

</locations>
</target>
